<p style="color: green"><%= notice %></p>

<%= render @train %>

<div>
  <%= link_to "Edit this train", edit_train_path(@train) %> |
  <%= link_to "Back to trains", trains_path %>

  <%= button_to "Delete this train", @train, method: :delete, data: {confirm: 'Are you Sure?'} %>
</div>
