<div id="<%= dom_id schedule %>">
  <p>
    <strong>Sch train:</strong>
    <%= schedule.sch_train_id %>
  </p>

  <p>
    <strong>Starting time:</strong>
    <%= schedule.starting_time %>
  </p>

  <p>
    <strong>Reaching time:</strong>
    <%= schedule.reaching_time %>
  </p>

  <p>
    <strong>Src place:</strong>
    <%= schedule.src_place_id %>
  </p>

  <p>
    <strong>Dst place:</strong>
    <%= schedule.dst_place_id %>
  </p>

  <p>
    <strong>Tour fare:</strong>
    <%= schedule.tour_fare %>
  </p>
  <p>
    <strong>Train Id:</strong>
    <%= schedule.train_id %>
  </p>

</div>
