<%= form_with(model: ticket) do |form| %>
  <% if ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="font-size:1.2rem;" class="mb-2 mt-1">
    <%= form.label "train name : " %>
    <%= @fortrain.train_name  %>
  </div>

  <div style="font-size:1.2rem;" class="mb-2 mt-1">
    <%= form.label "starting place : " %>
    <%= @startplace.name %>
  </div>

  <div style="font-size:1.2rem;" class="mb-2 mt-1">
    <%= form.label "destination place:" %>
    <%= @endplace.name %>
  </div>

  <div style="font-size:1.2rem;" class="mb-2 mt-1">
    <%= form.label "starting time:" %>
    <%= @forschedule.starting_time  %>
  </div>

  <div style="font-size:1.2rem;" class="mb-2 mt-1">
    <%= form.label "destination time:" %>
    <%= @forschedule.reaching_time %>
  </div>
  
  <div style="font-size:1.2rem;" class="mb-2 mt-1">
    <%= form.label "tour fare:" %>
    <%= @forschedule.tour_fare %>
  </div>

  <div style="font-size:1.2rem;" class="mb-2 mt-1">
    <%= form.label :no_of_people, style: "display: block" %>
    <% @noofppl = 1 %>
    <%= form.number_field :no_of_people,id: :no_of_people_ticket_book, value: @noofppl, min: 0 %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :ticket_user_id, value:current_user.id,type: :hidden  %>
  </div>

  <div>
    <%= form.number_field :schedule_id, id: :ticket_schedule_id, value:@s_id,type: :hidden  %>
  </div>
  
  <div>
    <%= form.number_field :train_id, id: :ticket_train_id, value:@t_id,type: :hidden  %>
  </div>

  <!--<div>
      <%= link_to 'pay', new_payment_path(:data => { :train_name => @fortrain.train_name,:starting_place => @startplace.name, :ending_place => @endplace.name, :starting_time => @forschedule.starting_time, :reaching_time => @forschedule.reaching_time , :tour_fare => @forschedule.tour_fare,:no_of_people => :no_of_people, :s_id => @s_id, :t_id => @t_id }), class:"btn btn-primary mb-2 mt-2" %>
  </div>-->
  
  <div>
    <%= form.label :total_amount, style: "display: none" %>
    <%= form.number_field :total_amount, type: :hidden  %>
  </div>

  <div>
    <%= form.number_field :payment_id, id: :ticket_payment_id, value:1,type: :hidden  %>
  </div>
  <div>
  <% if :payment_id %>
    <%= form.submit "Book",class:"btn btn-app mt-3" %>
    <% end %>
  </div>
<% end %>
