<div id="<%= dom_id ticket %>">
  <p>
    <strong>No of people:</strong>
    <%= ticket.no_of_people %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= ticket.total_amount %>
  </p>

  <p>
    <strong>Sch_id:</strong>
    <%= ticket.sch_id %>
  </p>

  <p>
    <strong>U_id:</strong>
    <%= ticket.u_id %>
  </p>
  <p>
    <strong>payment id:</strong>
    <%= ticket.pay_id %>
  </p>

</div>
