<p style="color: green"><%= notice %></p>

<%= render @place %>

<div>
  <%= link_to "Edit this place", edit_place_path(@place) %> |
  <%= link_to "Back to places", places_path %>
  <%= link_to 'Back to Schedules', schedules_path, class:"btn btn-primary mb-2 mt-2" %>

  <%= button_to "delete this place", @place, method: :delete , data: {confirm: 'Are you Sure?'}%>
</div>
